@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.animate-pulse {
  animation: pulse 0.8s infinite;
}

* {
  margin: 0;
  padding: 0;
  transition: all;
  font-family: "Outfit";
  box-sizing: border-box;
  transition-duration: 0.1s;
}

#prata-regular {
  font-weight: 400;
  font-style: normal;
  font-family: "Prata", serif;
}
